@font-face {
	font-family: "Trump Gothic West";
	src:url(../fonts/Trump-Gothic-West.otf);
}

@font-face {
	font-family: "Trump Gothic West Italic";
	src:url(../fonts/Trump-Gothic-West-Italic.otf);
}


@font-face {
	font-family: "Trump Gothic West Bold";
	src:url(../fonts/Trump-Gothic-West-Bold.otf);
}



@font-face {
	font-family: "Trump Gothic West Bold Italic";
	src:url(../fonts/Trump-Gothic-West-Bold-Italic.otf);
}


@font-face {
	font-family: "Theinhardt-Light";
	src:url(../fonts/Theinhardt-Light.otf);
}


